header{
    position: absolute; /* position: fixed; absolute por que nao há movimento */
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header.logo{
    position: relative;
    max-width: 150px;
}